#hrs, #mins, #secs {
   width: 6em;
}

#timer {
   font-size: 2em;
   margin: 2em;
   padding: 1em;
   border: 1em solid gray;
   border-radius: 1em;
   width: 50%;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}